body {
  color: rgba(213, 115, 230, 1);
  font-family: 'Orbitron', sans-serif;
}

h1 {
  text-align: center;
  margin: 25px auto;
}

#game-area {
  width: 500px;
}

canvas {
  margin: auto auto;
  display: block;
  width: 600px;
  height: 500px;
}

#scoreboard {
    height: 25px;
    width: 600px;
    margin: 0 auto;
    position: relative;
}

#player-1-score {
  float: left;
}

#player-2-score {
  float: right;
}

#top-message {
  position: absolute;
  left: 29%;
}

#instructions {
  height: 25px;
  width: 600px;
  margin: 0 auto;
}

#player-1-keys {
  float: left;
}

#player-2-keys {
  float:right;
}

dt {
  min-width: 12px;
  padding: 3px;
  background: rgb(213, 115, 230);
  color: rgb(255, 255, 255);
  float: left;
  clear: left;
  margin-bottom: 3px;
  text-align: center;
}

dd {
  padding: 3px;
  display: inline-block;
  float: left;
  clear: right;
  margin-bottom: 3px;
}

#message {
  position: fixed;
  display: block;
  font-size: 32px;
  margin: 0 auto;
  top: 47%;
  left: 0;
  right: 0;
  z-index: 10;
}

.hidden {
  opacity: 0;
  font-size: 64px;
  color: #000000;
  transition: all 0.8s;
}
