body {
  color: rgba(213, 115, 230, 1);
  font-family: 'Orbitron', sans-serif;
}

h1 {
  text-align: center;
  margin: 25px auto;
}

#game-area {
  width: 500px;
}

canvas {
  margin: auto auto;
  display: block;
  width: 600px;
  height: 500px;
}

#scoreboard {
    height: 25px;
    width: 600px;
    margin: 0 auto;
    position: relative;
}

#player-1-score {
  float: left;
}

#player-2-score {
  float: right;
}

#top-message {
  position: absolute;
  left: 29%;
}

#instructions {
  height: 25px;
  width: 600px;
  margin: 0 auto;
  padding: 3px;
}

#instructions span.key {
  min-width: 12px;
  padding: 3px;
  background: rgb(213, 115, 230);
  color: rgb(255, 255, 255);
  margin-bottom: 3px;
  text-align: center;
  display: inline-block;
}

#instructions span.legend {
  padding: 3px;
  display: inline-block;
  text-align: center;
  width: 550px;
  margin-bottom: 3px;
}

dd.left {
  float: left;
}

dd.right {
  float: right;
  clear: right;
}

#message {
  color: rgb(0, 0, 0);
  border-radius: 2px;
  position: fixed;
  font-size: 32px;
  margin: 0 auto;
  top: 47%;
  left: 0;
  right: 0;
  z-index: 10;
}

.hidden {
  opacity: 0;
  color: rgb(213, 115, 230);
  transition: all 1.0s ease-out;
  transform: scale(1.2);
}
