body {
  color: rgba(213, 115, 230, 1);
  font-family: 'Orbitron', sans-serif;
}

h1 {
  text-align: center;
  margin: 25px auto;
}

#game-area {
  width: 500px;
}

canvas {
  margin: auto auto;
  display: block;
  width: 600px;
  height: 500px;
}

#scoreboard {
    height: 25px;
    width: 600px;
    margin: 0 auto;
}

#player-1-score {
  float: left;
}

#player-2-score {
  float: right;
}

#instructions {
  height: 25px;
  width: 600px;
  margin: 0 auto;
}

#player-1-keys {
  float: left;
}

#player-2-keys {
  float:right;
}

dt {
  min-width: 12px;
  padding: 3px;
  background: rgb(213, 115, 230);
  color: rgb(255, 255, 255);
  float: left;
  clear: left;
  margin-bottom: 3px;
  text-align: center;
}

dd {
  padding: 3px;
  display: inline-block;
  float: left;
  clear: right;
  margin-bottom: 3px;
}
